@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  font-size: 1em;
  box-sizing: border-box;
  --color-primary: #22547c;
  --color-accent: #dce9fb;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.fs-1 {
  font-size: clamp(2rem, calc(1.5rem + 2vw), 3rem);
}
.fw-1 {
  font-weight: 700;
}
.fw-2 {
  font-weight: 600;
}
.flex {
  display: flex;
}
::placeholder {
  font-size: 1rem;
  font-weight: 200;
}
.color-primary {
  color: var(--color-primary, #22547c);
}
a {
  text-decoration: none;
  color: #22547c;
  &:hover {
    text-decoration: underline;
  }
}
.form-control {
  width: 100%;
  display: block;
  height: 3rem;
  font-weight: 200;
  border: none;
  border-bottom: 1px solid #22547c;
  font-size: 1rem;
  &:focus {
    outline: 0;
    background-color: 0;
  }
}
.form-group_inline {
  column-gap: 2rem;
}
.mt-1 {
  margin-top: 2.5rem;
}
.mt-3 {
  margin-top: 1.2rem;
}
.container {
  height: 100vh;
  .section-1 {
    flex: 55%;
    background-color: var(--color-primary, #22547c);
    .gallery-1 {
      width: 60%;
      align-self: center;
      margin: 0em auto;
      img {
        width: 100%;
      }
    }
  }
  .section-2 {
    overflow: auto;
    flex: 45%;
    &-content {
      width: 80%;
      margin: 2rem auto;

      .Logo {
        justify-content: flex-end;
      }
      .form-container {
        form {
          input:hover {
            background-color: rgba(240, 237, 237, 0.2);
          }
          p {
            text-align: end;
          }
          .submit {
            text-align: center;
            input[type="submit"] {
              background-color: var(--color-accent, #dce9fb);
              font-size: 1.5rem;
              border: none;
              border-radius: 1em;
              padding: 0.6em 2.5em;

              &:hover {
                background-color: #d7dee8;
                cursor: pointer;
              }
            }
          }
        }
        p {
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 968px) {
  img[src="./img/LOGO.svg"] {
    width: 120px;
  }
  .container {
    flex-direction: column;
    height: auto;
  }
}

@media (max-width: 400px) {
  img[src="./img/LOGO.svg"] {
    width: 76px;
  }
  .section-1 {
    display: none;
  }
  .form-group_inline {
    // column-gap: 2rem;
    flex-direction: column;
    & > * + * {
      margin-top: 2.5rem;
    }
  }
}
